<nav class="nav" style="background: -webkit-linear-gradient(left, #F2754E,#009344);">
    <div class="nav-menu flex-row">
        <div class="nav-brand">
            <a href="#" class="text-gray" style="color: #ffffff;"> <span>Tran</span>sportation Services</a>
        </div>
    </div>
</nav>
<div class="register">
  <div class="cont">
    <form class="form">
      <h2 class="" style="color: #6e6c6c;">Đăng ký</h2>
      <div >
          <label >Họ tên</label>
          <input type="text" placeholder="" >
      </div>
      <div >
          <label for="" class="">Email</label>
          <input type="password" class="" >
      </div>
      <div >
          <label for="" class="">Mật khẩu</label>
          <input type="password" class="" >
          
      </div>
      <div >
          <label for="" class="">Nhắc lại mật khẩu</label>
          <input type="password" class="" >
      </div>
      <div class="other-infor">
        <h2 style="color: #6e6c6c;">Những thông tin khác</h2>
          <div class="infor">
            <div >            
              <label for="" class="">SĐT</label>
              <input type="text" class="">
            </div>
            <div>
              <label for="" class="">CMND</label>
              <input type="text" class="" >
            </div>
          </div>
          <div class="infor">
            <div>            
              <label for="" class="">Tỉnh/TP</label>
              <input type="text" class="" >
            </div>
            <div>
              <label for="" class="">Quận/Huyện</label>
              <input type="text" class="" >
            </div>
          </div>
          <div>
            <div >            
              <label>Địa Chỉ</label>
              <input type="text">
            </div>
          </div>
      </div>

      <div>
          <button type="submit" class="submit">
          Đăng ký</button>
      </div>
    </form>
  </div>
</div>  
