<app-header success=1 ></app-header>
<section class='adminContainer' > 
    <div class="menu-left">
        <div class="menu-item">
            <button id='0' (click)='onShowMenu(0)'>Tài Khoản</button>
        </div>
        <div class="menu-item">
            <button id='1' (click)='onShowMenu(1)'>Tuyến Đường</button>
        </div>
        <div class="menu-item">
            <button id='2' (click)='onShowMenu(2)'>Bến</button>
        </div>
        <div class="menu-item">
            <button id='3' (click)='onShowMenu(3)'>Xe</button>
        </div>
        <div class="menu-item">
            <button id='4' (click)='onShowMenu(4)'>Qui đổi điểm</button>
        </div>
        <div class="menu-item">
            <button id='5' (click)='onShowMenu(5)'>Thống kê</button>
        </div>
    </div>
    <div class="menu-content" *ngIf='isShow == 0'>
        <div class="menu-content-item">
            <div class="menu-content-title">
                <p>Danh sách tài khoản</p> 
            </div>
            <div class="menu-content-item-content">
                <div style="height:300px; overflow:auto;">
                    <table style="width:100%;">
                        <tr>
                            <th>Email</th>
                            <th>Mật khẩu</th>
                            <th>Vai trò</th>
                            <th></th>
                        </tr>
                        <ng-container *ngFor="let item of listUser">
                            <tr>
                                <td>{{item.ten_kh}}</td>
                                <td>********************</td>
                                <td>{{item.role}}</td>
<!--                                 <td style="color: #F2754E;" (click)="onShow(0,2)">Chỉnh sửa tài khoản</td>
 -->                        </tr>
                        </ng-container>
                    </table>
                </div>  
                <div class="menu-action">
                    <p style="color: #009344;" (click)="onShow(0,1)"><i class="far fa-edit"></i> Tạo tài khoản</p>
                </div>
            </div>
        </div>
        <div class="menu-item-right" *ngIf='isCreateAccount==1'>
            <div class="item-account">
                <div class="menu-content-title" style="background: -webkit-linear-gradient(left, #F2754E,#009344  );                   ">
                    <p>Thông tin tài khoản</p> 
                </div>
                <form [formGroup]='form'>
                    <div class="infor-item form-group" style="padding-top: 5px;">
                        <p for="">Họ tên khách hàng</p>
                        <input type="text" class="form-control" formControlName="tenKh" placeholder="Nhập mật tên khách hàng">
                    </div>
                    <div class="infor-item form-group">
                        <p for="">Tài khoản</p>
                        <input type="text" class="form-control" formControlName="tai_khoan" placeholder="Nhập tên tài khoản">
                    </div>
                    <div class="infor-item form-group">
                        <p for="">Email</p>
                        <input type="email" placeholder="Nhập email" class="form-control" formControlName="email">
                    </div>
                    <div class="infor-item form-group">
                        <p for="">Mật khẩu</p>
                        <input type="password" placeholder="Nhập lại mật khẩu" class="form-control" formControlName="mat_khau">
                    </div>
                    <div class="infor-item form-group">
                        <p for="">Nhập lại mật khẩu</p>
                        <input type="password" placeholder="Nhập lại mật khẩu" class="form-control" formControlName="conf_mat_khau">
                    </div>
                </form>
            </div>
            <div class="item-account" style="margin-left: 25px;" >
                <div class="menu-content-title" style="border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;">
                    <p>Thông tin khác</p> 
                </div>
                <form [formGroup]='form'>
                    <div class="infor-item form-group" style="padding-top: 5px;">
                        <p for="">SĐT</p>
                        <input type="text" placeholder="Nhập số điện thoại" class="form-control" formControlName="sdt">
                    </div>
                    <div class="infor-item form-group">
                        <p for="">CMND</p>
                        <input type="text" placeholder="Nhập số CMND" class="form-control" formControlName="cmnd">
                    </div>
                    <div class="infor-item form-group">
                        <p for="">Địa chỉ</p>
                        <input type="text" placeholder="Nhập địa chỉ thường trú" class="form-control" formControlName="dia_chi">
                    </div>
                    <div class="infor-item form-group">
                        <p for="">Thành Phố</p>
                        <input type="text" placeholder="Nhập địa chỉ thường trú" class="form-control" formControlName="thanh_pho">
                    </div>
                    <div class="infor-item form-group">
                        <p for="">Quận huyện</p>
                        <input type="text" placeholder="Nhập địa chỉ thường trú" class="form-control" formControlName="quan_huyen">
                    </div>
                    <div style="clear: both;"></div>
                    <div class="infor-item">
                        <button class="btn-submit" (click)="onShow(1,0)">Đăng ký</button>
                    </div>
                </form>
            </div>
        </div>
<!--         <div class="menu-item-right" *ngIf='isCreateAccount==2'>
            <div class="item-account">
                <div class="menu-content-title" style="background: -webkit-linear-gradient(left, #F2754E,#009344  );                   ">
                    <p>Thông tin tài khoản</p> 
                </div>
                <form action="">
                    <div class="infor-item" style="padding-top: 5px;">
                        <p for="">Họ tên</p>
                        <input type="password" placeholder="Nhập họ và tên">
                    </div>
                    <div class="infor-item">
                        <p for="">Email</p>
                        <input type="password" placeholder="Nhập email">
                    </div>
                    <div class="infor-item">
                        <p for="">Mật khẩu cũ</p>
                        <input type="password" placeholder="Nhập mật khẩu cũ">
                    </div>
                    <div class="infor-item">
                        <p for="">Mật khẩu mới</p>
                        <input type="password" placeholder="Nhập mật khẩu mới">
                    </div>
                    <div class="infor-item">
                        <p for="">Mật lại khẩu mới</p>
                        <input type="password" placeholder="Nhập lại mật khẩu mới">
                    </div>
                </form>
            </div>
            <div class="item-account" style="margin-left: 25px;">
                <div class="menu-content-title" style="border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;">
                    <p>Thông tin khác</p> 
                </div>
                <form action="">
                    <div class="infor-item" style="padding-top: 5px;">
                        <p for="">SĐT</p>
                        <input type="password" placeholder="Nhập số điện thoại">
                    </div>
                    <div class="infor-item">
                        <p for="">CMND</p>
                        <input type="password" placeholder="Nhập số CMND">
                    </div>
                    <div class="infor-item">
                        <p for="">Địa chỉ</p>
                        <input type="password" placeholder="Nhập địa chỉ thường trú">
                    </div>
                    <div class="infor-item">
                        <p for="">Thành phố</p>
                        <input type="password" placeholder="Nhập thành phố">
                    </div>
                    <div class="infor-item">
                        <p for="">Quận huyện</p>
                        <input type="password" placeholder="Nhập quận huyện">
                    </div>
                    <div style="clear: both;"></div>
                    <div class="infor-item">
                        <button class="btn-submit" (click)="onShow(2,0)">Lưu</button>
                    </div>
                </form>
            </div>
        </div> -->
    </div>
    <div class="menu-content" *ngIf='isShow == 1'>
        <div class="menu-content-item">
            <div class="menu-content-title">
                <p>Danh sách tuyến đường</p> 
            </div>
            <div class="menu-content-item-content schedule">
                <div style="height:300px; overflow:auto; ">
                    <table style="width:100%; border-collapse: collapse;">
                        <ng-container *ngFor="let item of listRoute">
                            <tr>
                                <td>{{item.ben_xe_di}} => {{item.ben_xe_toi}}</td>
                                <td>{{item.khoang_cach}} KM</td>
                                <td>{{item.gia_ca}} đ</td>
                                <td style="color: #F2754E;" (click)="onShow(0,2,item)"><i class="far fa-edit"></i> Chỉnh sửa </td>
                              </tr>
                        </ng-container>
                    </table>
                </div>  
                <div class="menu-action">
                    <p style="color: #009344;" (click)="onShow(0,1)"><i class="far fa-edit"></i> Thêm tuyến đường</p>
                </div>
            </div>
        </div>
        <div class="menu-item-right" *ngIf='isCreateAccount!=0'>
            <div class="item-account">
                <div class="menu-content-title" style="background: -webkit-linear-gradient(left, #F2754E,#009344);">
                    <p>Thông tin tuyến đường</p> 
                </div>
                <form [formGroup]="formRoute">
                    <div class="infor-item form-group" style="padding-top: 5px;">
                        <p for="">Nơi đi</p>
                        <select name="departure" class="form-control" formControlName="diem_di_id" *ngIf='isCreateAccount==1'>
                            <option *ngFor="let item of listDeparture" value='{{item.id}}'>Bến xe {{item.ben_toi}}</option>
                        </select>
                        <input type="text" placeholder="Bến xe {{route.ben_xe_di}}" class="form-control" formControlName="diem_di_id" *ngIf='isCreateAccount==2' disabled>
                    </div>
                    <div class="infor-item form-group">
                        <p for="">Nơi đến</p>
                        <select name="placego" id="" class="form-control" formControlName="diem_toi_id" *ngIf='isCreateAccount==1'>
                            <option *ngFor="let item of listDestination" value='{{item.id}}'>Bến xe {{item.ben_toi}}</option>
                        </select>
                        <input type="text" placeholder="Bến xe {{route.ben_xe_toi}}" class="form-control" formControlName="diem_toi_id" *ngIf='isCreateAccount==2' disabled>
                    </div>
                    <div class="infor-item form-group">
                        <p for="">Quãng đường</p>
                        <input type="text" placeholder="Nhập quãng đường" class="form-control" formControlName="khoang_cach">
                    </div>
                    <div class="infor-item form-group">
                        <p for="">Thời gian hành trình</p>
                        <input type="text" placeholder="Nhập thời gian hành trình" class="form-control" formControlName="thoi_gian_hanh_trinh">
                    </div>
                </form>
            </div>
            <div class="item-account" style="margin-left: 25px;">
                <div class="menu-content-title" style="border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;">
                    <p>Thông tin vé</p> 
                </div>
                <form [formGroup]="formRoute">
                    <div class="infor-item form-group" style="padding-top: 5px;">
                        <p for="">Giá vé</p>
                        <input type="text" placeholder="Nhập giá vé" class="form-control" formControlName="gia_ca">
                    </div>
                    <div style="clear: both;"></div>
                    <div class="infor-item">
                        <button class="btn-submit" (click)="onShow(1,0)" *ngIf='isCreateAccount==1'>Thêm vé</button>
                        <button class="btn-submit" (click)="onShow(2,0)" *ngIf='isCreateAccount==2'>Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="menu-content" *ngIf='isShow == 2'>
        <div class="menu-content-item">
            <div class="menu-content-title">
                <p>Danh sách bến</p> 
            </div>
            <div class="menu-content-item-content schedule">
                <div style="height:300px; overflow:auto; ">
                    <table style="width:100%; border-collapse: collapse;">
                        <tr style="background: #eb8287;">
                          <td style="text-align: left; color: white;">Phú Yên</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Bến xe Phú Lâm</td>
                          <td>Khu phố 3 phường Phú Thạnh, Tp Tuy Hòa</td>
                        </tr>
                        <tr style="background: #eb8287;">
                          <td style="text-align: left; color: white;">Nha Trang - Khánh Hòa</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Bến xe Cam Ranh</td>
                          <td></td>
                        </tr>
                    </table>
                </div>  
                <div class="menu-action">
                    <p style="color: #009344;" *ngIf='isCreateAccount==0' (click)="onShow(0,1)"><i class="far fa-edit"></i> Thêm bến</p>
                    <p style="color: #F2754E;" *ngIf='isCreateAccount==0' (click)="onShow(0,2)"><i class="far fa-edit"></i> Chỉnh sửa bến</p>
                    <p style="color: #f54b17;" *ngIf='isCreateAccount==0' (click)="onShow(0,2)"><i class="far fa-edit"></i> Xóa bến</p>
                </div>
            </div>

        </div>
        <div class="menu-item-right" *ngIf='isCreateAccount!=0'>
            <div class="item-account">
                <div class="menu-content-title" style="background: -webkit-linear-gradient(left, #F2754E,#009344  );">
                    <p>Thông tin thành phố</p> 
                </div>
                <form [formGroup]="formPoint">
                    <div class="infor-item form-group" style="padding-top: 5px;">
                        <p for="">Thành Phố</p>
                        <input type="text" placeholder="Nhập thành phố" class="form-control" formControlName="thanh_pho">
                    </div>
                    <div class="infor-item form-group">
                        <p for="">Hình ảnh của thành phố</p>
                        <input type="file" accept="image/*" capture="camera" (change)="imgeChanged($event)" class="form-control" formControlName="hinh_anh">
                        <div *ngIf=retrievedImage>
                            <img [src]="srcImage">
                        </div>
                    </div>
                    <div class="infor-item">
                        <img [src]="srcImage" *ngIf='srcImage' width="300" height="300">
                    </div>
                </form>
            </div>
            <div class="item-account" style="margin-left: 25px;">
                <div class="menu-content-title" style="border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;">
                    <p>Thông tin chi tiết bến</p> 
                </div>
                <form [formGroup]="formPoint">
                    <div class="infor-item form-group" style="padding-top: 5px;">
                        <p for="">Tên bến</p>
                        <input type="text" placeholder="Nhập tên bến" class="form-control" formControlName="ten_ben">
                    </div>
                    <div class="infor-item form-group">
                        <p for="">Địa chỉ</p>
                        <input type="text" placeholder="Nhập địa chỉ" class="form-control" formControlName="dia_chi">
                    </div>
                    <div style="clear: both;"></div>
                    <div class="infor-item">
                        <button class="btn-submit" (click)="onShow(1,0)" *ngIf='isCreateAccount==1' >Thêm bến</button>
                        <button class="btn-submit" (click)="onSubmit()">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="menu-content" *ngIf='isShow == 3'>
        <div class="menu-content-item">
            <div class="menu-content-title">
                <p>Danh sách xe</p> 
            </div>
            <div class="menu-content-item-content schedule">
                <div style="height:300px; overflow:auto; ">
                    <table style="width:100%; border-collapse: collapse;">
                        <tr>
                            <th>Tuyến</th>
                            <th>Tên xe</th>
                            <th>Thời gian chạy</th>
                        </tr>
                        <ng-container *ngFor="let item of listCar">
                            <tr>
                                <td>{{item.ben_xe_di}}=>{{item.ben_xe_toi}}</td>
                                <td>{{item.tenXe}}</td>
                                <td>{{item.gioChay}}:00 h</td>
                                <td style="color: #F2754E;" (click)="onShow(0,2,item)"><i class="far fa-edit"></i> Chỉnh sửa xe</td>
                            </tr>
                        </ng-container>
                    </table>
                </div>  
                <div class="menu-action">
                    <p style="color: #009344;" (click)="onShow(0,1)"><i class="far fa-edit"></i> Thêm xe</p>
                </div>
            </div>
        </div>
        <div class="menu-item-right" *ngIf='isCreateAccount!=0'>
            <div class="item-account">
                <div class="menu-content-title" style="background: -webkit-linear-gradient(left, #F2754E,#009344  );">
                    <p>Thông tin tuyến xe chạy</p> 
                </div>
                <form [formGroup]="formCar">
                    <div class="infor-item form-group" style="padding-top: 5px;">
                        <p for="">Nơi đi</p>
                        <select name="placego" class="form-control" formControlName="diem_di_id" (change)="cityChanged($event.target.value,0)" *ngIf='isCreateAccount==1'>
                            <option *ngFor="let item of listDeparture" value='{{item.id}}'>Bến xe {{item.ben_toi}}</option>
                        </select>
                        <input type="text" placeholder="{{route.ben_xe_di}}" class="form-control" formControlName="diem_di_id" disabled *ngIf='isCreateAccount==2'>
                    </div>
                    <div class="infor-item form-group">
                        <p for="">Nơi đến</p>
                        <select name="placego" class="form-control" formControlName="diem_toi_id" (change)="cityChanged($event.target.value,1)" *ngIf='isCreateAccount==1'>
                            <option *ngFor="let item of listDestination" value='{{item.id}}'>Bến xe {{item.ben_toi}}</option>
                        </select>
                        <input type="text" placeholder="{{route.ben_xe_toi}}" class="form-control" formControlName="diem_di_id" disabled *ngIf='isCreateAccount==2'>
                    </div>
                </form>
            </div>
            <div class="item-account" style="margin-left: 25px;">
                <div class="menu-content-title" style="border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;">
                    <p>Thông tin chi tiết xe</p> 
                </div>
                <form [formGroup]="formCar">
                    <div class="infor-item form-group" style="padding-top: 5px;">
                        <p for="">Tên xe</p>
                        <input type="text" placeholder="{{route.tenXe}}" class="form-control" formControlName="ten_xe">
                    </div>
                    <div class="infor-item form-group">
                        <p for="">Hãng xe</p>
                        <input type="text" placeholder="{{route.hangXe}}" class="form-control" formControlName="hang_xe">
                    </div>
                    <div class="infor-item form-group">
                        <p for="">Thời gian chạy</p>
                        <input type="text" placeholder="{{route.gioChay}}" class="form-control" formControlName="gio_chay">
                    </div>
                    <div style="clear: both;"></div>
                    <div class="infor-item">
                        <button class="btn-submit" (click)="onShow(1,0)" *ngIf='isCreateAccount==1'>Thêm xe</button>
                        <button class="btn-submit" (click)="onShow(2,0)" *ngIf='isCreateAccount==2'>Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="menu-content" *ngIf='isShow == 4'>
        <div class="menu-content-item">
            <div class="menu-content-title">
                <p>Bảng qui đổi điểm</p> 
            </div>
            <div class="menu-content-item-content schedule">
                <div style="height:310px; overflow:auto; ">
                    <table style="width:90%; border-collapse: collapse;">
                        <tr>
                            <th>ID</th>
                            <th>Điểm</th>
                            <th>Giảm giá (%)</th>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>100</td>
                          <td>1</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>200</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>400</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>600</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>800</td>
                            <td>8</td>
                        </tr>
                    </table>
                </div>  
                <div class="menu-action">
                    <p style="color: #009344;" *ngIf='isCreateAccount==0' (click)="onShow(0,1)"><i class="far fa-edit"></i> Thêm qui đổi điểm</p>
                    <p style="color: #F2754E;" *ngIf='isCreateAccount==0' (click)="onShow(0,2)"><i class="far fa-edit"></i> Chỉnh sửa bảng qui đổi</p>
                    <p style="color: #f54b17;" *ngIf='isCreateAccount==0' (click)="onShow(0,2)"><i class="far fa-edit"></i> Xóa qui đổi</p>
                </div>
            </div>

        </div>
        <div class="menu-item-right">
            <div class="item-account">
                <div class="menu-content-title" style="background: -webkit-linear-gradient(left, #F2754E,#009344  );">
                    <p>Bảng cộng điểm</p> 
                </div>
                <div class="menu-content-item-content schedule">
                    <div style="height:310px; overflow:auto; ">
                        <table style="width:90%; border-collapse: collapse;">
                            <tr>
                                <th>ID</th>
                                <th>Số tiền VNĐ</th>
                                <th>Điểm cộng</th>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>100</td>
                              <td>10</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>200</td>
                                <td>20</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>400</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>600</td>
                                <td>60</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>800</td>
                                <td>80</td>
                            </tr>
                        </table>
                    </div>  
                    <div class="menu-action">
                        <p style="color: #009344;" *ngIf='isCreateAccount==0' (click)="onShow(0,1)"><i class="far fa-edit"></i> Thêm qui định điểm cộng</p>
                        <p style="color: #F2754E;" *ngIf='isCreateAccount==0' (click)="onShow(0,2)"><i class="far fa-edit"></i> Chỉnh sửa điểm cộng</p>
                        <p style="color: #f54b17;" *ngIf='isCreateAccount==0' (click)="onShow(0,2)"><i class="far fa-edit"></i> Xóa điểm cộng</p>
                    </div>
                </div>
            </div>
            <div class="item-account" style="margin-left: 25px;" *ngIf='isCreateAccount!=0'>
                <div class="menu-content-title" style="border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;">
                    <p>Thông tin chi tiết</p> 
                </div>
                <form action="">
                    <div class="infor-item" style="padding-top: 5px;">
                        <p for="">ID</p>
                        <input type="text" placeholder="Nhập tên xe">
                    </div>
                    <div class="infor-item">
                        <p for="">Điểm</p>
                        <input type="text" placeholder="Nhập biển số">
                    </div>
                    <div class="infor-item">
                        <p for="">Qui đổi</p>
                        <input type="text" placeholder="Nhập hãng xe">
                    </div>
                    <div style="clear: both;"></div>
                    <div class="infor-item">
                        <button class="btn-submit" (click)="onShow(1,0)">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="menu-content-1" *ngIf='isShow == 5' style="width: 85%;">
         <div class="menu-content-item" style="width: 100%;">
            <div class="search-infor">
                <div class="search-left">
                    <div class="menu-content-title" style="margin-bottom: 10px;">
                        <p>Tìm kiếm theo doanh thu/ tuyến</p> 
                    </div>
                    <div style="display: flex; width: 100%;">
                        <div style="display: flex; width: 50%;">
                            <input type="radio" style="height: 28px; width: 50%;" name="types" (change)="onItemChange(0,0)">
                            <label style="line-height: 50px; margin-left: -10px;"> Doanh thu</label>    
                        </div>
                        <div style="display: flex; width: 50%;">
                            <input type="radio" style="height: 28px; width: 50%;" name="types" checked (change)="onItemChange(1,0)">
                            <label style="line-height: 50px; margin-left: -10px;"> Tuyến</label>    
                        </div>
                    </div>
                </div>
                <div class="search-left" style="margin-left: 2%;">
                    <div class="menu-content-title" style="margin-bottom: 10px;">
                        <p>Tìm kiếm theo ngày, tháng</p> 
                    </div>
                    <div style="display: flex;">
                        <div style="width: 50%;">
                            <input type="radio" style="height: 28px; float: left;" name="type" (change)="onItemChange(1,1)">
                            <label style="line-height: 50px; margin-left: -10px;"> Ngày</label>    
                        </div>
                        <div style="width: 50%;">
                            <input type="radio" style="height: 28px; float: left;" name="type" checked (change)="onItemChange(2,1)">
                            <label style="line-height: 50px; margin-left: -10px;"> Tháng</label>    
                        </div>
                    </div>

                </div>
                <div class="search-left" style="margin-left: 2%;">
                    <div class="menu-content-title" style="margin-bottom: 10px;">
                        <p>Chọn ngày tháng năm</p> 
                    </div>
                    <input type="date" style="height: 28px;" value="{{today}}">
                    <button (click)="onShowChart(isRoute,isDate)">Search</button>
                </div>
            </div>
            <div class="menu-content-title">
                <p>Bảng thống kê</p> 
            </div>
            <div class="menu-content-item-content">
                <div style="height:310px; overflow:auto; ">
                    <table style="width:100%; border-collapse: collapse;">
                        <tr>
                            <th>Ngày</th>
                            <th>Tuyến</th>
                            <th>Số lượng vé</th>
                            <th>Tổng tiền</th>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>100</td>
                          <td>1</td>
                          <td>10000</td>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>100</td>
                          <td>1</td>
                          <td>10000</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>200</td>
                            <td>2</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>400</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>600</td>
                            <td>6</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>800</td>
                            <td>8</td>
                            <td>8</td>
                        </tr>
                    </table>
                </div>  
            </div>
            <div style="width: 100%; margin-top: 30px;">
                <div class="menu-content-title" *ngIf='isCreateAccount!=0'>
                    <p>Biểu đồ thống kê</p> 
                </div>
                <div style="height: 600px;">
                    <canvas id="myChart2" *ngIf="isDate==2"></canvas>
                    <canvas id="myChart1" *ngIf="isDate==1"></canvas>
                </div>
            </div>
        </div>
    </div>
</section>
<div style="clear: both;"></div>
<app-footer style="margin-bottom: 0px;"></app-footer>
