<app-header index=1></app-header>
<section>
    <div class="container">
        <img src="../../assets/schedule.png" alt="">
        <div class="search">
            <div class="search-left">
                <input type="text" placeholder="Tìm điểm đi">
                <span class="fas fa-search"></span>
            </div>
            <div class="search-right">
                <input type="text" placeholder="Tìm điểm đến">
                <span class="fas fa-search"></span>
            </div>
        </div>
        <div class="schedule-content scroll">
            <table>
                <tr>
                    <th>Tuyến Xe</th>
                    <th>Loại Xe</th>
                    <th>Quãng Đường</th>
                    <th>Thời gian hành trình</th>
                    <th>Giá Vé</th>
                    <th>Giờ chạy</th>
                    <th>Đặt Vé</th>
                </tr>
                <tr class="paren">
                    <td>Bắc Bình Minh =></td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>TP.Hồ Chí Minh</td>
                    <td> Giường</td>
                    <td> 271 KM</td>
                    <td> 6 giờ</td>
                    <td> </td>
                    <td> <span class="detail" [routerLink]="['/schedule/detail']">Chi tiết <i class="fas fa-info-circle"></i></span></td>
                    <td> <span class="book" [routerLink]="['/booktickets/select-route']">Đặt vé <i class="fas fa-calendar-check"></i></span></td>
                </tr>
                <tr class="paren">
                    <td>Bảo Lộc =></td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>TP.Hồ Chí Minh</td>
                    <td> Giường</td>
                    <td> 271 KM</td>
                    <td> 6 giờ</td>
                    <td> </td>
                    <td> <span class="detail" [routerLink]="['/schedule/detail']">Chi tiết <i class="fas fa-info-circle"></i></span></td>
                    <td> <span class="book">Đặt vé <i class="fas fa-calendar-check"></i></span></td>
                </tr>
                <tr>
                    <td>TP.Hồ Chí Minh</td>
                    <td> Giường</td>
                    <td> 271 KM</td>
                    <td> 6 giờ</td>
                    <td> </td>
                    <td> <span class="detail" [routerLink]="['/schedule/detail']">Chi tiết <i class="fas fa-info-circle"></i></span></td>
                    <td> <span class="book">Đặt vé <i class="fas fa-calendar-check"></i></span></td>
                </tr>
                <tr>
                    <td>TP.Hồ Chí Minh</td>
                    <td> Giường</td>
                    <td> 271 KM</td>
                    <td> 6 giờ</td>
                    <td> </td>
                    <td> <span class="detail" [routerLink]="['/schedule/detail']">Chi tiết <i class="fas fa-info-circle"></i></span></td>
                    <td> <span class="book">Đặt vé <i class="fas fa-calendar-check"></i></span></td>
                </tr>
                <tr class="paren">
                    <td>Bến Tre =></td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>TP.Hồ Chí Minh</td>
                    <td> Giường</td>
                    <td> 271 KM</td>
                    <td> 6 giờ</td>
                    <td> </td>
                    <td> <span class="detail" [routerLink]="['/schedule/detail']">Chi tiết <i class="fas fa-info-circle"></i></span></td>
                    <td> <span class="book">Đặt vé <i class="fas fa-calendar-check"></i></span></td>
                </tr>
                <tr class="paren">
                    <td>Buôn Ma Thuột =></td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>TP.Hồ Chí Minh</td>
                    <td> Giường</td>
                    <td> 271 KM</td>
                    <td> 6 giờ</td>
                    <td> </td>
                    <td> <span class="detail" [routerLink]="['/schedule/detail']">Chi tiết <i class="fas fa-info-circle"></i></span></td>
                    <td> <span class="book">Đặt vé <i class="fas fa-calendar-check"></i></span></td>
                </tr>
                <tr>
                    <td>TP.Hồ Chí Minh</td>
                    <td> Giường</td>
                    <td> 271 KM</td>
                    <td> 6 giờ</td>
                    <td> </td>
                    <td> <span class="detail" [routerLink]="['/schedule/detail']">Chi tiết <i class="fas fa-info-circle"></i></span></td>
                    <td> <span class="book">Đặt vé <i class="fas fa-calendar-check"></i></span></td>
                </tr>
                <tr class="paren">
                    <td>An Sương =></td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>TP.Hồ Chí Minh</td>
                    <td> Giường</td>
                    <td> 271 KM</td>
                    <td> 6 giờ</td>
                    <td> </td>
                    <td> <span class="detail" [routerLink]="['/schedule/detail']">Chi tiết <i class="fas fa-info-circle"></i></span></td>
                    <td> <span class="book">Đặt vé <i class="fas fa-calendar-check"></i></span></td>
                </tr>
                <tr class="paren">
                    <td>An Sương =></td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>TP.Hồ Chí Minh</td>
                    <td> Giường</td>
                    <td> 271 KM</td>
                    <td> 6 giờ</td>
                    <td> </td>
                    <td> <span class="detail" [routerLink]="['/schedule/detail']">Chi tiết <i class="fas fa-info-circle"></i></span></td>
                    <td> <span class="book">Đặt vé <i class="fas fa-calendar-check"></i></span></td>
                </tr>
            </table>
        </div>
    </div>
</section>

<app-footer></app-footer>