<app-header index=4></app-header>
<section>
<!--     <div class="invoice">
        <p>Tra cứu hóa đơn</p>
        <div class="code">
            <i class="fas fa-user"></i><input type="text" placeholder="Mã số bí ẩn">
        </div>
        <div class="clear" style="height: 12px;"></div>
        <div class="code" >
            <input type="text" style="width: 90%;" placeholder="Nhập số điện thoại">
        </div>
        <div>
            <button class="btn-confirm"><i class="fas fa-search"></i> Tra cứu</button>
        </div>
    </div> -->
    <div class="infor-invoice">
        <div style="width:49%;">
            <div class="title">
                <p>THÔNG TIN VÉ</p>
            </div>
            <div style="margin-top: 20px;">
                <div class="infor-invoice-item">
                    <div style="width: 50%; text-align: center; display: flex;">
                        <label for="" style="font-size: 16px; width:70px;">
                            Ngày mua
                        </label>
                        <input type="text">
                    </div>
                    <div style="width: 50%; text-align: center; display: flex;">
                        <label for="" style="font-size: 16px; width:70px;">
                            Giờ mua
                        </label>
                        <input type="text">
                    </div>
                </div>
                <div class="infor-invoice-item">
                    <div style="width: 50%; text-align: center; display: flex;">
                        <label for="" style="font-size: 16px; width:70px;">
                            Mã vé
                        </label>
                        <input type="text">
                    </div>
                    <div style="width: 50%; text-align: center; display: flex;">
                        <label for="" style="font-size: 16px; width:70px;">
                            Giờ chạy 
                        </label>
                        <input type="text">
                    </div>
                </div>
                <div class="infor-invoice-item">
                    <div style="width: 50%; text-align: center; display: flex;">
                        <label for="" style="font-size: 16px; width:70px;">
                            Tuyến   
                        </label>
                        <input type="text">
                    </div>
                    <div style="width: 50%; text-align: center; display: flex;">
                        <label for="" style="font-size: 16px; width:70px;">
                            Giường
                        </label>
                        <input type="text" placeholder="A01, A02, A03, A04, A05">
                    </div>
                </div>
                <div class="infor-invoice-item">
                    <div style="width: 50%; text-align: center; display: flex;">
                        <label for="" style="font-size: 16px; width:70px;">
                            Số vé
                        </label>
                        <input type="text">
                    </div>
                    <div style="width: 50%; text-align: center; display: flex;">
                        <label for="" style="font-size: 16px; width:70px;">
                            Tổng tiền 
                        </label>
                        <input type="text">
                    </div>
                </div>
            </div>
        </div>
        <div style="width:49%; margin-left: 2%;">
            <div class="title">
                <p>THÔNG TIN KHÁCH HÀNG</p>
            </div>
            <div style="margin-top: 20px;">
                <div class="infor-invoice-item">
                    <div style="width: 50%; text-align: center; display: flex;">
                        <label for="" style="font-size: 16px; width:70px;">
                            Họ và Tên
                        </label>
                        <input type="text">
                    </div>
                    <div style="width: 50%; text-align: center; display: flex;">
                        <label for="" style="font-size: 16px; width:70px;">
                            Số điện thoại
                        </label>
                        <input type="text">
                    </div>
                </div>
                <div class="infor-invoice-item">
                    <div style="width: 100%; text-align: center; display: flex;">
                        <label for="" style="font-size: 16px; width:70px;">
                            Nơi đón
                        </label>
                        <input type="text" style="width: 80%;">
                    </div>
                </div>
                <div class="btn-function">
                    <p style="color: #009344;"><i class="far fa-edit"></i> Chỉnh sửa thông tin</p>
                    <p style="color: #f54b17;"><i class="far fa-edit"></i> Xóa điểm cộng</p>
                </div>
            </div>
        </div>
        
    </div>
</section>
<app-footer></app-footer>


