<app-header index=4></app-header>
<section>
    <div class="invoice">
        <p>Tra cứu hóa đơn</p>
        <div class="code">
            <i class="fas fa-user"></i><input type="text" placeholder="Mã số bí ẩn">
        </div>
        <div class="clear" style="height: 12px;"></div>
        <div class="code" >
            <input type="text" style="width: 90%;" placeholder="Nhập số điện thoại">
        </div>
        <div>
            <button class="btn-confirm"><i class="fas fa-search"></i> Tra cứu</button>
        </div>
    </div>
</section>
<app-footer></app-footer>