<app-header index=1></app-header>
<section>
    <div class="container">
        <img src="../../assets/schedule.png" alt="">
        <div class="transhipment">
            <div class="title">
                Bến xe & VP Trung chuyển
            </div>
            <div class="transhipment-content">
                Bến Xe & VP Trung chuyển
            </div>
        </div>

        <div class="transhipment" style="border-radius: 10px;">
            <div class="title">
                Long Phu => Dai Ngai => Sai Gon <span>- 230km - 6h</span>
            </div>
            <div class="content-left">
                Bến Xe & VP Trung chuyển
            </div>
            <div class="content-right">
                Bến Xe & VP Trung chuyển
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>