<section>
    <div class="history-container">
        <p>Lịch sử mua vé</p>
        <div class="history-search">
            <div class="item-search">
                <label>Thời gian</label>
                <div class="history-search-item">
                    <i class="fas fa-calendar-alt"></i>
                    <input type="text" value="26/10/2020" disabled style="border:none;outline: none;background: none;">    
                    <hr style="width: 80%; margin-left: 0px; color: black;">
                </div>
            </div>
            <div class="item-search">
                <label>Lịch trình</label>
                <div class="history-search-item">
                    <select style="border:none;outline: none;background: none;">                    
                        <option value="1">Đà Nẵng => TP Hồ Chí Minh</option>
                        <option value="2">Đà Nẵng => TP Hồ Chí Minh</option>
                        <option value="3">Đà Nẵng => TP Hồ Chí Minh</option>
                        <option value="4">Đà Nẵng => TP Hồ Chí Minh</option>
                        <option value="5">Đà Nẵng => TP Hồ Chí Minh</option>
                    </select>
                   <hr style="margin-top: 3px; margin-left: 0px; width: 90%;" >
                </div>
            </div>
            <div class="item-button-search">
                <div class="item-btn-search" >
                    <button>Reset</button>
                </div>
                <div class="item-btn-search" style="margin-right: 10px; background: #EF5222 ;">
                    <button>Tìm kiếm</button>
                </div>
            </div>
        </div>
        <div class="history-table">
            <table style="width: 100%;">
                <tr>
                    <th>STT</th>
                    <th>Mã</th>
                    <th>SL</th>
                    <th>Tuyến</th>
                    <th>Ngày đi</th>
                    <th>Giờ</th>
                    <th>Tổng tiền</th>
                    <th>Ngày đặt</th>
                    <th>Thanh toán</th>
                    <th>Trạng thái</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>LKDLKD</td>
                    <td>1</td>
                    <td>TP Hồ Chí Minh => TP Hồ Chí Minh</td>
                    <td>10/9/2020</td>
                    <td>21:05</td>
                    <td>225000</td>
                    <td>09/09/2020 15:28:21</td>
                    <td>09/09/2020 15:50:21</td>
                    <td>Đã thanh toán</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>LKDLKD</td>
                    <td>1</td>
                    <td>TP Hồ Chí Minh => TP Hồ Chí Minh</td>
                    <td>10/9/2020</td>
                    <td>21:05</td>
                    <td>225000</td>
                    <td>09/09/2020 15:28:21</td>
                    <td>09/09/2020 15:50:21</td>
                    <td>Đã thanh toán</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>LKDLKD</td>
                    <td>1</td>
                    <td>TP Hồ Chí Minh => TP Hồ Chí Minh</td>
                    <td>10/9/2020</td>
                    <td>21:05</td>
                    <td>225000</td>
                    <td>09/09/2020 15:28:21</td>
                    <td>09/09/2020 15:50:21</td>
                    <td>Đã thanh toán</td>
                </tr>
            </table>
        </div>
    </div>

</section>